<div class="hero-banner">
    <div class="hero-content">
      <h1>Contact Us</h1>
      <p>If you have any questions, comments, or inquiries, please feel free to reach out to us using the contact form below. We look forward to hearing from you!</p>
    </div>
  </div>
  <div class="container-card">
    <h2>Contact Form</h2>

    <div class="contact-container">
      <app-contact-form class="contact-form"></app-contact-form>
      
      <div class="contact-info">
        <h4>Our Contact Information</h4>
        <p><strong>Address:</strong> Hyllie Vattenparksgata 215 36 Malmö</p>
        <p><strong>Phone:</strong> +46 73 946 6551</p>
        <p><strong>Email:</strong> info&#64;neetechs.com</p>
      </div>
    </div>
  </div>
  