<div class="blog-container" *ngIf="Blog">
    <div class="blog-header">
      <h2>{{ Blog.title }}</h2>
    </div>
    <div class="blog-sections">
      <div class="section" *ngFor="let section of Blog.sections">
        <h3>{{ section.heading }}</h3>
        <div *ngIf="section.content">
          <p *ngFor="let content of section.content" [innerHTML]="content"></p>
        </div>
        <div *ngIf="section.subsections">
          <div class="subsection" *ngFor="let subsection of section.subsections">
            <h4>{{ subsection.subheading }}</h4>
            <pre ><code *ngFor="let code of subsection.code"><br>{{ code }}</code></pre>
          </div>
        </div>
      </div>
    </div>
  </div>
  