<div class="container-card" *ngIf="tutorialData">

    <!-- <img src="{{ tutorialData.image }}" alt="Tutorials Banner" class="banner"> -->
    <h1>{{ tutorialData.title }}</h1>
    <p class="description">{{ tutorialData.description }}</p>
    <div class="categories">
      <div class="category" *ngFor="let category of tutorialData.categories">
        <img [src]="category.image" alt="{{ category.name }} Icon" class="category-image">
        <h5>
          <a [href]="category.href" [class.disabled]="category.disable">{{ category.name }}</a>
        </h5>
        <h6 class="date">{{ category.date }}</h6>
      </div>
    </div>

  </div>
