.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
     border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.banner {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 20px;
}

h1 {
    text-align: center;
    
    margin-bottom: 20px;
}

.description {
    text-align: center;
    margin-bottom: 30px;
}
.categories{
    display: flex;
    justify-content: space-around;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}
.category {
    margin-bottom: 40px;
    width: 150px;
    text-align: center;
}

.category-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 10px;
}

.category h2 {
    margin-bottom: 10px;
}

