<header>
  <a href="/" class="brand">
    <img src="https://i.imgur.com/GX04TlK.png" alt="Neetech Logo" class="logo" />
    <span>Neetechs</span>
  </a>
  <ul>
    <li><a routerLink="/">Homepage</a></li>
    <li><a routerLink="/services">Services</a></li>
    <li><a routerLink="/about-us">About Us</a></li>
    <li><a routerLink="/contact-us">Contact Us</a></li>
    <li><a routerLink="/faq">FAQ</a></li>
    <li><a routerLink="/portfolio">Portfolio</a></li>
    <li><a routerLink="/pricing">Pricing</a></li>
    <li><a routerLink="/blog-news">Blog and News</a></li>
  </ul>
  <div class="navbar-contact">
    <a href="#">Contact Us</a>
  </div>
</header>
