/* header.component.css */
.tp-header-area {
  background-color: #fff;
  border-bottom: 1px solid #eaeaea;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  background-color: #fff; /* Adjust as needed */
  box-shadow: 0 4px 10px #03041c1a;
}

.hidden {
  display: none;
}

.tp-header-main {
  padding: 20px 0;
}

.tp-header-main .logo img {
  max-width: 150px;
}

.tp-header-search-wrapper {
  display: flex;
  align-items: center;
}

.tp-header-search-box input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.tp-header-search-btn button {
  padding: 10px;
  background-color: #5A5C12;
  border: none;
  border-radius: 5px;
  color: #fff;
}

.tp-header-main-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.tp-header-action-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin-left: 20px;
}

.tp-header-contact p a {
  color: #5A5C12;
  text-decoration: none;
}
