<header>
  <div class="tp-header-area">
      <!-- header top start  -->
      <app-top-header></app-top-header>

  
      <!-- header main start -->
      <app-main-header class="menu-bar"></app-main-header>


      <!-- header bottom start -->
      <app-bottom-header></app-bottom-header>
  </div>
</header>
  
  <!-- cart sidebar start -->
  <app-cart-sidebar-header></app-cart-sidebar-header>
  <!-- cart sidebar end -->
  
  <!-- mobile sidebar start -->
  <app-mobile-sidebar-header></app-mobile-sidebar-header>
  <!-- mobile sidebar end -->
  