// tutorial-toc.component.scss
@use 'styles._variables' as *;
  
.toc {
  background: $neutral-color-darker;
  border-radius: $radius-md;
  box-shadow: $shadow-soft;
  border: 1px solid rgba(148, 163, 184, 0.35);
  border-left: 3px solid $tertiary-color;
  padding: $space-4;
  max-width: 240px;
  width: 100%;
  font-family: $font-family-base;
  font-size: $font-size-sm;
  color: $neutral-color-lightest;

  h4 {
    margin: 0 0 $space-3 0;
    font-size: $font-size-md;
    color: $neutral-color-lightest;
    font-weight: 600;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  li {
    margin-bottom: $space-2;

    &:last-child {
      margin-bottom: 0;
    }
  }

  a {
    text-decoration: none;
    color: $neutral-color-light;
    cursor: pointer;
    display: block;
    line-height: 1.4;

    &:hover {
      color: $tertiary-color;
      opacity: 0.9;
    }

    &.active {
      color: $tertiary-color;
      font-weight: 600;
      border-left: 3px solid $tertiary-color;
      padding-left: $space-2;
    }
  }

  @media (max-width: 1024px) {
    max-width: 100%;
    box-shadow: none;
    border-radius: $radius-md;
    margin-bottom: $space-4;
  }
}