@use '../../styles._variables.scss' as *;

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 600px;
  margin: 0 auto;
}

label {
  display: flex;
  flex-direction: column;
  text-align: left;
}

input,
textarea {
  padding: 0.5rem 0.875rem;
  border-radius: 8px;
  border: 1px solid $neutral-color-medium-light;
}

input:focus,
textarea:focus {
  outline: 2px solid $highlight-quaternary-color;
  border-color: $highlight-quaternary-color;
}

.container-card {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.order-summary {
  margin-top: 2rem;
  ul {
    list-style: none;
    padding: 0;
  }
  li {
    display: flex;
    justify-content: space-between;
    padding: 4px 0;
  }
  li.header {
    font-weight: bold;
    border-bottom: 1px solid $neutral-color-medium-light;
    margin-bottom: 0.5rem;
  }
  li.subtotal {
    font-weight: bold;
    border-top: 1px solid $neutral-color-medium-light;
    margin-top: 0.5rem;
  }
}
