<!-- HERO + CATEGORY LIST VIEW -->
<app-hero-tutorial-list
  *ngIf="!tutorial?.sections?.length" 
  [groupedCategories]="groupedCategories" 
  [tutorialList]="tutorialList">
</app-hero-tutorial-list>

<!-- TUTORIAL DETAIL VIEW -->
<app-tutorial-wrapper
  *ngIf="tutorial?.sections?.length"
  [tutorial]="tutorial"
  [stepIndexes]="stepIndexes"
  [activeSection]="activeSection"
  [previousTutorial]="previousTutorial"
  [nextTutorial]="nextTutorial"
  (startQuiz)="startQuiz($event)">
</app-tutorial-wrapper>
