@if (category) {
  
    <div class="tutorial-hero-category">
        <img [src]="category.image" alt="{{ category.name }}">
        <h1>{{ category.name }}</h1>
        <p>{{ category.description }}</p>
        <p>{{ category.date }}</p>
    </div>
<div class="container">

        @for (level of getLevels(); track level) {
            <div style="margin: 48px 0px;">
                <h3>{{ level }}:</h3>
                <div class="tutorial-container">

                @for (tutorial of groupedTutorials[level]; track tutorial) {
                    <div
                        class="card {{tutorial.lvl}}" 
                     [class.disabled]="tutorial.disable" 
                     (click)="!tutorial.disable && navigateTo(tutorial.href)">
                    <h5>{{ tutorial.title }}</h5>
                    <p>{{ tutorial.description }}</p>
                    <span>Duration: {{ tutorial.duration }}</span>
                    <br/>
                  <span><strong>Date:</strong> {{ tutorial.date }}</span>
                </div>
            }
        </div>

          </div>
        }
    </div>

}
