<!-- Top mobile bar -->
<div class="mobile-header">
  <a routerLink="/" class="mobile-logo" (click)="navigateToTop()">
    <img src="https://i.imgur.com/3fLGfPn.png" alt="Neetechs logo" />
    <span>NEETECHS</span>
  </a>

  <button
    type="button"
    class="mobile-hamburger"
    (click)="toggleMenu()"
    aria-label="Toggle navigation"
  >
    <span></span>
    <span></span>
    <span></span>
  </button>
</div>

<!-- Slide-out overlay + panel -->
<div
  id="sideNav"
  class="side-nav"
  [class.open]="menuOpen"
  (click)="toggleMenu()"
>
  <div class="side-nav-panel" (click)="$event.stopPropagation()">
    <!-- Header: logo + close -->
    <div class="header-sideNav">
      <a routerLink="/" (click)="navigateToTop()" class="logo-sideNav">
        <img src="https://i.imgur.com/GX04TlK.png" alt="Neetechs Logo" />
        <h3>Neetechs</h3>
      </a>
      <button
        type="button"
        class="closebtn-sideNav"
        aria-label="Close navigation"
        (click)="toggleMenu()"
      >
        &times;
      </button>
    </div>

    <!-- Nav links -->
    <ul>
      <li *ngFor="let item of menu_data; let i = index">
        <a
          [routerLink]="item.link"
          routerLinkActive="active"
          (click)="navigateToTop()"
        >
          {{ item?.title }}
        </a>
      </li>
    </ul>
<div class="account-label">Account</div>

    <!-- Account actions -->
    <div class="account-block">
      <button
        type="button"
        class="btn-outline"
        (click)="goToAuth('signIn')"
      >
        Login
      </button>
      <button
        type="button"
        class="btn-primary"
        (click)="goToAuth('signup')"
      >
        Sign Up
      </button>
    </div>
  </div>
</div>
