/* General Styles */
.tp-header-sticky-area {
    display: flex;
    padding: 0;
    position: sticky;
    background-color: white;
    top: 0;
    z-index: 1000;
    visibility: visible;
    opacity: 1;
    animation: .5s ease-in-out 0s normal none 1 running fadeInDown;
    align-content: center;
    justify-content: space-between;
    align-items: center;
}


/* Logo Styles */
.logo img {
  max-width: 64px;
  height: auto;
}

//* menu sidebar humbugger menu *//
.hamburger {
    font-size: 30px;
    cursor: pointer;
  }
  
  .menu-open .hamburger {
    display: none;
  }
  
  .container{
    margin: 0px auto!important;
  }