<form id="contact-form" [formGroup]="contactForm" (ngSubmit)="onSubmit()">
  <div class="tp-contact-input-wrapper">
    <div class="tp-contact-input-box">
      <div class="tp-contact-input">
        <input
          name="name"
          id="name"
          type="text"
          placeholder="Shahnewaz Sakil"
          formControlName="name"
        />
      </div>
      <div class="tp-contact-input-title">
        <label for="name">Your Name</label>
      </div>
      <span
        *ngIf="name?.hasError('required') && (name?.touched || formSubmitted)"
        class="text-danger"
      >
        Name is required
      </span>
    </div>
    <div class="tp-contact-input-box">
      <div class="tp-contact-input">
        <input
          name="email"
          id="email"
          type="email"
          placeholder="example@techs.se"
          formControlName="email"
        />
      </div>
      <div class="tp-contact-input-title">
        <label for="email">Your Email</label>
      </div>
      <span
        *ngIf="
          (email?.hasError('required') && email?.touched) ||
          (email?.hasError('email') && email?.dirty) ||
          (formSubmitted && !email?.value)
        "
        class="text-danger"
      >
        Email is required and must be a valid email address
      </span>
    </div>
    <div class="tp-contact-input-box">
      <div class="tp-contact-input">
        <input
          name="phone"
          id="phone"
          type="text"
          placeholder="+46 739466551"
          formControlName="phone"
        />
      </div>
      <div class="tp-contact-input-title">
        <label for="phone">Phone number</label>
      </div>
      <span
        *ngIf="phone?.hasError('required') && (phone?.touched || formSubmitted)"
        class="text-danger"
      >
        Phone number is required
      </span>
    </div>
    <div class="tp-contact-input-box">
      <div class="tp-contact-input">
        <input
          name="subject"
          id="subject"
          type="text"
          placeholder="Write your subject"
          formControlName="subject"
        />
      </div>
      <div class="tp-contact-input-title">
        <label for="subject">Subject</label>
      </div>
      <span
        *ngIf="
          subject?.hasError('required') && (subject?.touched || formSubmitted)
        "
        class="text-danger"
      >
        subject is required
      </span>
    </div>
    <div class="tp-contact-input-box">
      <div class="tp-contact-input">
        <textarea
          id="description"
          name="description"
          placeholder="Write your message here..."
          formControlName="description"
        ></textarea>
      </div>
      <div class="tp-contact-input-title">
        <label for="description">Your Message</label>
      </div>
      <span
        *ngIf="
          description?.hasError('required') && (description?.touched || formSubmitted)
        "
        class="text-danger"
      >
        Message is required
      </span>
    </div>
  </div>
  <div class="tp-contact-suggetions mb-20">
    <div class="tp-contact-remeber">
      <input id="remeber" type="checkbox" />
      <label for="remeber">
        Save my name, email, and website in this browser for the next time I
        comment.
      </label>
    </div>
  </div>
  <div class="tp-contact-btn">
    <button type="submit">Send Message</button>
  </div>
</form>
