.side-nav {
  height: 100%;
  width: 0;
  position: fixed;
  top: 0;
  right: 0;
  background-color: #4B4846;
  overflow-x: hidden;
  transition: 0.5s;

  z-index: 1100;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.side-nav.open {
  width: 100%;
  max-width: 512px;
  // width: 380px;
}

.header-sideNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 12px;
  flex-direction: row;
  align-content: center;
  width: 100%;
}
.header-sideNav .logo-sideNav {
  display: flex;
  justify-content: space-between;
}
.header-sideNav .logo-sideNav img {
  height: 64px;
}

.closebtn-sideNav {
  font-size: 32px;
  color: white;
  cursor: pointer;
}

ul {
  list-style-type: none;
  padding: 0;
  width: 100%;
}

ul li a {
  padding: 10px 15px;
  text-decoration: none;
  color: white;
  display: block;
  transition: 0.3s;
  text-align: center;
}

ul li a:hover {
  background-color: #575757;
}

.contact-sideNav {
  padding: 10px 15px;
  text-decoration: none;
  font-size: 18px;
  color: white;
  display: block;
  text-align: center;
  margin: 20px 0;
  transition: 0.3s;

  background: green;
  border: 10px;
  border-radius: 10px;
}

.contact-sideNav:hover {
  background-color: #575757;
  cursor: pointer;

}

//* sidebar footer *//
.footer-sideNav {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #4B4846
    ;
    border-top: 1px solid #2A2927;
    width: 100%;
}

.footer-sideNav div {
    display: flex;
    align-items: center;
}

.currency-sideNav, .language-sideNav {
    margin: 0 10px;
}
.currency-sideNav, .language-sideNav span{
    color:#ffffff   
}

.currency-sideNav select, .language-sideNav select {
    margin-left: 5px;
    padding: 5px;
    border: 0px solid #e5e5e5;
    border-radius: 0px;
    background: #121110;
    color: white;
}

.language-sideNav img {
    margin-right: 5px;
    width: 20px;
    height: 15px;
}
