<!-- In your component's HTML file -->
<div class="profile__ticket table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Order Id</th>
        <th scope="col">Product Title</th>
        <th scope="col">Status</th>
        <th scope="col">View</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of ticketData">
        <th scope="row">{{ item.orderId }}</th>
        <td [attr.data-info]="'title'">{{ item.productTitle }}</td>
        <td [attr.data-info]="'status ' + item.statusClass">{{ item.status }}</td>
        <td><a [routerLink]="['/invoice', item.orderId]" class="tp-logout-btn">{{ item.view }}</a></td>
      </tr>
    </tbody>
  </table>
</div>
