<!-- src/app/emoji-translator/emoji-translator.component.html -->
<div class="container emoji-translator" *ngIf="tool">
    <h2>{{tool.title}}</h2>
    <div class="main">
        <div>
        <h4>{{tool.input}}</h4>
        <textarea
          [(ngModel)]="inputText"
          placeholder="Type your text here..."
          rows="5"
          cols="50"
        ></textarea>
      </div>
      <div class="middle">
        <!-- Added the select element here -->
        <select
        class="translation-mode-selector"
        [(ngModel)]="toolMode"
      >
        <option *ngFor="let option of tool.jobOption" [value]="option.value">{{option.text}}</option>
      </select>
      <button (click)="translateText()">{{tool.button}}</button>

      </div>
      <div class="translated-text">
        <h4>{{tool.output}}</h4>
        <pre><code>{{ translatedText }}</code>
            <button class="copy-btn" (click)="copyToClipboard(translatedText)">Copy</button>
        </pre>
      </div>
    </div>
  </div>
  <div class="container helpContainer">
    <h4>{{tool.heroText}}</h4>
    <a [href]="tool.heroLink">{{tool.heroLinkName}}</a>
  </div>

  <div class="container">
    <app-contact-banner></app-contact-banner>
  </div>