<div class="container-card">
    <h2>Community Forum</h2>

    <div class="forum-section">
        <h3>General Discussions</h3>
        <div class="forum-topic">
            <h4>Topic Title 1</h4>
            <p>Posted by: User1 on January 5, 2024</p>
            <p>Description: This is a brief description of Topic 1. Users can click to view more details and participate in the discussion.</p>
        </div>

        <div class="forum-topic">
            <h4>Topic Title 2</h4>
            <p>Posted by: User2 on January 6, 2024</p>
            <p>Description: This is a brief description of Topic 2. Users can click to view more details and participate in the discussion.</p>
        </div>
    </div>

    <div class="forum-section">
        <h3>Technical Support</h3>
        <div class="forum-topic">
            <h4>Topic Title 3</h4>
            <p>Posted by: User3 on January 7, 2024</p>
            <p>Description: This is a brief description of Topic 3. Users can click to view more details and participate in the discussion.</p>
        </div>

        <div class="forum-topic">
            <h4>Topic Title 4</h4>
            <p>Posted by: User4 on January 8, 2024</p>
            <p>Description: This is a brief description of Topic 4. Users can click to view more details and participate in the discussion.</p>
        </div>
    </div>

    <div class="forum-section">
        <h3>Feedback and Suggestions</h3>
        <div class="forum-topic">
            <h4>Topic Title 5</h4>
            <p>Posted by: User5 on January 9, 2024</p>
            <p>Description: This is a brief description of Topic 5. Users can click to view more details and participate in the discussion.</p>
        </div>

        <div class="forum-topic">
            <h4>Topic Title 6</h4>
            <p>Posted by: User6 on January 10, 2024</p>
            <p>Description: This is a brief description of Topic 6. Users can click to view more details and participate in the discussion.</p>
        </div>
    </div>
</div>