<div class="section ">
    <h2>Our Services:</h2>
    <div class="service">
        <img src="https://live.staticflickr.com/65535/53786161557_bb5d200c76.jpg" alt="Design Services" loading="lazy">
        <div class="text-content">
            <h3>Design Services</h3>
            <p>We provide top-notch design services including graphic design, UI/UX design, and website design. Our team of creative designers will work with you to create visually appealing and user-friendly designs that meet your specific needs.</p>
            <button class="cta-button" (click)="navigateTo('/services')">Get Started</button>
        </div>
    </div>
    <div class="service-item flex-reverse">
        <img src="https://live.staticflickr.com/65535/53787319388_e2fae3a0fa.jpg" alt="Programming Services" loading="lazy">
        <div class="text-content">
            <h3>Programming Services</h3>
            <p>Our programming services cover web development, mobile app development, and backend development. We use the latest technologies and frameworks to build robust and scalable applications that deliver exceptional performance.</p>
            <button class="cta-button" (click)="navigateTo('/services')">Get Started</button>
        </div>
    </div>
    <div class="service-item">
        <img src="https://live.staticflickr.com/65535/53787422649_81c75ccb23.jpg" alt="Repair Services" loading="lazy">
        <div class="text-content">
            <h3>Technical Repair Services</h3>
            <p>We offer comprehensive repair services for mobile devices, computers, and laptops. Our skilled technicians can diagnose and fix a wide range of hardware and software issues, ensuring your devices are running smoothly.</p>
            <button class="cta-button" (click)="navigateTo('/services')">Get Started</button>
        </div>
    </div>
</div>