<header class="shop-header">
  <div class="logo">
    <a routerLink="/">
      <img src="https://i.imgur.com/GX04TlK.png" alt="Logo">
    </a>
  </div>
  <nav class="breadcrumbs">
    <a routerLink="/">Home</a> &gt; <span>Shop</span>
  </nav>
  <form class="search" (submit)="onSubmit($event)">
    <input
      type="text"
      placeholder="Search products"
      [formControl]="searchControl"
    />
    <button type="submit" aria-label="Search">
      <svg viewBox="0 0 20 20" width="20" height="20">
        <path
          d="M9 17A8 8 0 1 0 9 1a8 8 0 0 0 0 16Z"
          stroke="currentColor"
          stroke-width="2"
          fill="none"
        />
        <path
          d="M19 19 14.65 14.65"
          stroke="currentColor"
          stroke-width="2"
          fill="none"
          stroke-linecap="round"
        />
      </svg>
    </button>
  </form>
  <app-nice-select
    class="category-select"
    [options]="categoryOptions"
    (onChange)="onCategoryChange($event)"
    [defaultCurrent]="0"
  ></app-nice-select>
  <div class="dropdown" [class.active]="isLanguageActive">
    <span class="dropdown-toggle" (click)="toggle('language')">
      {{ languageService.getCurrentLanguage() }} &#9660;
    </span>
    <ul class="dropdown-menu">
      <li *ngFor="let lang of languages">
        <a class="dropdown-item" href="#" (click)="changeLanguage(lang)">{{ lang }}</a>
      </li>
    </ul>
  </div>
  <div class="dropdown" [class.active]="isCurrencyActive">
    <span class="dropdown-toggle" (click)="toggle('currency')">
      {{ currencyService.getCurrentCurrency().code }} &#9660;
    </span>
    <ul class="dropdown-menu">
      <li *ngFor="let cur of currencies">
        <a class="dropdown-item" href="#" (click)="changeCurrency(cur)">{{ cur }}</a>
      </li>
    </ul>
  </div>
  <div class="spacer"></div>
  <div class="user">
    <a routerLink="/account/login">
      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <circle cx="12" cy="7" r="4" stroke="currentColor" stroke-width="1.5" />
        <path d="M2 21C2 17 6 15 12 15C18 15 22 17 22 21" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" />
      </svg>
    </a>
  </div>
  <div class="cart">
    <a routerLink="/shop/cart" class="cart-link">
      <svg width="24" height="24" viewBox="0 0 21 22" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M6.48626 20.5H14.8341C17.9004 20.5 20.2528 19.3924 19.5847 14.9348L18.8066 8.89359C18.3947 6.66934 16.976 5.81808 15.7311 5.81808H5.55262C4.28946 5.81808 2.95308 6.73341 2.4771 8.89359L1.69907 14.9348C1.13157 18.889 3.4199 20.5 6.48626 20.5Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M6.34902 5.5984C6.34902 3.21232 8.28331 1.27803 10.6694 1.27803V1.27803C11.8184 1.27316 12.922 1.72619 13.7362 2.53695C14.5504 3.3477 15.0081 4.44939 15.0081 5.5984V5.5984" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>
      <span class="count">{{ count }}</span>
    </a>
  </div>
</header>

