<div class="stickyHeader">
  <!-- Logo -->
  <a class="logo" routerLink="/">
    <img src="https://i.imgur.com/3fLGfPn.png" alt="Neetechs" />
    <h5>Neetechs</h5>
  </a>

  <!-- Center Navigation -->
  <nav class="primary-nav" aria-label="Main Navigation">
    <ul class="menu">
      <li
        *ngFor="let item of menu_data"
        [ngClass]="{
          'has-dropdown': item.drop_down,
          'has-mega-menu': item.mega_menu
        }"
      >
        <a
          [routerLink]="item.link"
          routerLinkActive="active"
          (click)="navigateToTop()"
        >
          {{ item.title }}
        </a>
      </li>
    </ul>
  </nav>

  <!-- Account -->
  <div class="header-right">
    <!-- Logged out -->
    @if (!isLoggedIn) {
      <a
        class="account-pill"
        (click)="goToAuth('signIn')"
      >
        Account
      </a>
    }

    <!-- Logged in -->
    @if (isLoggedIn) {
      <div class="account-avatar" (click)="goToAuth('profile')">
        <img [src]="userAvatarUrl" alt="Profile" />
      </div>
    }
  </div>
</div>
