<div class="hero-banner">
    <div class="hero-content">
      <h1>Our Pricing</h1>
      <p>At Neetechs, we offer competitive pricing for our services. Below is our pricing structure. For custom projects or inquiries, please contact us directly.</p>
    </div>
  </div>
  @if(pricing){ 
  <div class="container">
    @for (category of pricing | keyvalue; track category.key) {
      <div>
        <h3>{{ category.key }}</h3>
        <table class="pricing-table">
          <thead>
            <tr>
              <th>Service</th>
              <th>Price</th>
            </tr>
          </thead>
          <tbody>
            @for (service of category.value; track service.name) {
              <tr>
                <td>{{ service.name }}</td>
                <td>{{ service.price }}</td>
              </tr>
            }
          </tbody>
        </table>
      </div>
    }
  </div>
  }

  @if(!pricing){
  <div class="container">
    Loading pricing data...
  </div>
  }
  <div class="container">
    <app-contact-banner></app-contact-banner>
  </div>
  
