.hero-banner {
    position: relative;
    background-image: url("https://imgur.com/9ngVUPZ.png");
    background-size: cover;
    background-position: center;
    text-align: center;
    height: 38.2vh;
  }
  
  .hero-banner::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 38.2vh;
    background: rgba(0, 0, 0, 0.5); /* Adjust the overlay color and opacity */
    z-index: 0;
  }
  
  .hero-content {
    position: absolute;
    bottom: 8%;
    left: 8%;
    //box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
  }
  
  .hero-content h1 {
    text-align: left;
  }
  
  .hero-content p {
    text-align: left;
    color: aliceblue;
  }


.pricing-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
.pricing-table th, .pricing-table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}
.pricing-table th {
    background-color: #f2f2f2;
}