<div class="top-bar">
  <div class="top-bar-item language">
    <span (click)="handleActive('language')" class="toggle">
      {{ languageService.getCurrentLanguage() }}
    </span>
    <ul [class.open]="isActive === 'language'">
      @for (language of languages) {
        <li>
          <a (click)="changeLanguage(language)">{{ language }}</a>
        </li>
      }
    </ul>
  </div>

  <div class="top-bar-item currency">
    <span (click)="handleActiveCurrency('currency')" class="toggle">
      {{ currencyService.getCurrentCurrency().code }}
    </span>
    <ul [class.open]="isCurrencyActive === 'currency'">
      @for (currency of currencies) {
        <li>
          <a (click)="changeCurrency(currency)">{{ currency }}</a>
        </li>
      }
    </ul>
  </div>

  <div class="top-bar-item settings">
    <span (click)="handleActive('setting')" class="toggle">Setting</span>
    <ul [class.open]="isActive === 'setting'">
      <li><a routerLink="/profile">My Profile</a></li>
      <li><a routerLink="/shop/wishlist">Wishlist</a></li>
      <li><a routerLink="/shop/cart">Cart</a></li>
      <li><a (click)="logout()">Logout</a></li>
    </ul>
  </div>
</div>
