.container {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  h1 {
    text-align: center;
    
    margin-bottom: 20px;
  }
  
  p {
    text-align: center;
    margin-bottom: 40px;
  }
  
  .trends {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }
  
  .trend {
     border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
     width: calc(33% - 40px);
    min-width: 280px;
    transition: transform 0.3s ease-in-out;
  
    &:hover {
      transform: translateY(-5px);
    }
  
    h2 {
            margin-bottom: 10px;
    }
  
    p {
      margin-bottom: 20px;
    }
  
    button {
      background-color: #5A5C12;
      border: none;
      padding: 10px 20px;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s ease;
  
      &:hover {
        background-color: #664015;
      }
  
      &:disabled {
        background-color: #ccc;
        cursor: not-allowed;
      }
    }
  }
  