<div *ngIf="category">
    <img [src]="category.image" alt="{{ category.name }}">
    <h2>{{ category.name }}</h2>
    <p>{{ category.description }}</p>
    <p>{{ category.date }}</p>
    <ul>
        <li *ngFor="let tutorial of category.tutorials">
            <h3>{{ tutorial.title }}</h3>
            <p>{{ tutorial.description }}</p>
            <span>Duration: {{ tutorial.duration }}</span>
            <a [href]="tutorial.href">Read More</a>
            <span *ngIf="tutorial.disable" style="color: red;">(Disabled)</span>
        </li>
    </ul>
</div>