.hero-banner {
  background-image: url("https://imgur.com/1eri1JA.png");
  background-size: cover;
  background-position: center;
  position: relative;
  min-height: 38.2vh;
  padding: 48px 8%;
  display: flex;
  align-items: center;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 0;
  }

  .hero-content {
    position: relative;
    z-index: 1;
    max-width: 90%;
    h1 {
      text-align: left;
    }

    p {
      text-align: left;
      color: aliceblue;
    }
  }
}

.container-card {
  //padding: 24px;
  text-align: center;

  h2 {
    text-align: left;
  }
}

.contact-container {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  justify-content: flex-start;
  width: 100%;

  .contact-form {
    flex: 0 0 61.8%;
    max-width: 600px;
  }

  .contact-info {
    flex: 0 0 38.2%;
    max-width: 600px;
    border-left: 1px solid #a3a629;
    padding: 10px;

    h4 {
      margin-bottom: 15px;
    }

    p {
      margin: 5px 0;
      text-align: left;
    }
  }
}

@media (max-width: 800px), (max-height: 600px) {
  .hero-banner {
    height: auto;
    padding: 24px 8%;
    .hero-content {
      position: static;
      text-align: center;

      h1,
      p {
        text-align: center;
      }
    }
  }

  .contact-container {
    flex-direction: column;

    .contact-info {
      margin: 32px 0;
      border: 1px solid #a3a629;
      border-left: none;
    }

    .contact-form,
    .contact-info {
      flex: 1 1 100%;
      max-width: 100%;
    }
  }
}
