<!-- header start -->
<!-- <app-header-two [style_2]="true"></app-header-two> -->
<app-header-one></app-header-one>
<!-- header end -->

<!-- breadcrumb area start -->
<section class="breadcrumb__area include-bg text-center pt-95 pb-50">
  <div class="container">
    <div class="row">
      <div class="col-xxl-12">
        <div class="breadcrumb__content p-relative z-index-1">
          <h3 class="breadcrumb__title">Keep In Touch with Us</h3>
          <div class="breadcrumb__list">
            <span><a href="#">Hem</a></span>
            <span>Contact</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- breadcrumb area end -->

<!-- contact area start -->
<section class="tp-contact-area pb-100">
  <div class="container">
    <div class="tp-contact-inner">
      <div class="row">
        <div class="col-xl-9 col-lg-8">
          <div class="tp-contact-wrapper">
            <h3 class="tp-contact-title">Sent A Message</h3>

            <div class="tp-contact-form">
              <!-- contact form start -->
              <app-contact-form></app-contact-form>
              <!-- contact form end -->
              <p class="ajax-response"></p>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-4">
          <div class="tp-contact-info-wrapper">
            <div class="tp-contact-info-item">
              <div class="tp-contact-info-icon">
                <span>
                  <img src="assets/img/contact/contact-icon-1.png" alt="" />
                </span>
              </div>
              <div class="tp-contact-info-content">
                <p data-info="mail">
                  <a href="mailto:info@techs.se">info@techs.se</a>
                </p>
                <p data-info="phone">
                  <a href="tel:0046720218086">+46 72 021 80 86</a>
                </p>
              </div>
            </div>
            <div class="tp-contact-info-item">
              <div class="tp-contact-info-icon">
                <span>
                  <img src="assets/img/contact/contact-icon-2.png" alt="" />
                </span>
              </div>
              <div class="tp-contact-info-content">
                <p>
                  <a
                    href="https://maps.app.goo.gl/uZcF57dvW45T9G6SA"
                    target="_blank"
                    >Föreningsgatan 30, <br />
                    211 52 Malmö</a
                  >
                </p>
              </div>
            </div>
            <div class="tp-contact-info-item">
              <div class="tp-contact-info-icon">
                <span>
                  <img src="assets/img/contact/contact-icon-3.png" alt="" />
                </span>
              </div>
              <div class="tp-contact-info-content">
                <div class="tp-contact-social-wrapper mt-5">
                  <h4 class="tp-contact-social-title">Find on social media</h4>

                  <div class="tp-contact-social-icon">
                    <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                    <a href="#"><i class="fa-brands fa-twitter"></i></a>
                    <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- contact area end -->

<!-- footer start -->
<app-footer-one [primary_style]="true"></app-footer-one>
<!-- footer end -->
