<!-- header start -->
<!-- <app-header-two [style_2]="true"></app-header-two> -->
 
<app-header-one></app-header-one>
<!-- header end -->

<!-- breadcrumb area start -->
<app-breadcrumb-one
  title="Shopping Cart"
  subtitle="Shopping Cart"
></app-breadcrumb-one>
<!-- breadcrumb area end -->

<!-- cart area start -->
<section class="tp-cart-area pb-120">
  <div class="container">
    @if (cartService.getCartProducts().length === 0) {
      <div
        class="text-center pt-50"
      >
        <h3>No Cart Items Found</h3>
        <a routerLink="/shop" class="tp-cart-checkout-btn mt-20"
          >Continue Shopping</a
        >
      </div>
    }
    @if (cartService.getCartProducts().length > 0) {
      <div class="row">
        <div class="col-xl-9 col-lg-8">
          <div class="tp-cart-list mb-25 mr-30">
            <table>
            <thead>
              <tr>
                <th colspan="2" class="tp-cart-header-product">Product</th>
                <th class="tp-cart-header-price">Price</th>
                <th class="tp-cart-header-quantity">Quantity</th>
                <th></th>
              </tr>
            </thead>
              <tbody>
                @for (item of cartService.getCartProducts()) {
                  <tr>
                    <!-- img -->
                    <td class="tp-cart-img">
                      <a
                        [routerLink]="['/shop/shop-details', item.id]"
                        style="background-color: #f2f3f5; display: block"
                      >
                        <img [src]="item.img" alt="" />
                      </a>
                    </td>
                    <!-- title -->
                    <td class="tp-cart-title">
                      <a [routerLink]="['/shop/shop-details', item.id]">{{
                        item.title
                      }}</a>
                    </td>
                    <!-- price -->
                    <td class="tp-cart-price">
                      <span>{{ getCurrencySymbol() }}{{ item.price.toFixed(2) }}</span>
                    </td>
                    <!-- quantity -->
                    <td class="tp-cart-quantity">
                      <div class="tp-product-quantity mt-10 mb-10">
                        <span
                          class="tp-cart-minus"
                          (click)="cartService.quantityDecrement(item)"
                        >
                          <svg
                            width="10"
                            height="2"
                            viewBox="0 0 10 2"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                          >
                            <path
                              d="M1 1H9"
                              stroke="currentColor"
                              stroke-width="1.5"
                              stroke-linecap="round"
                              stroke-linejoin="round"
                            ></path>
                          </svg>
                        </span>
                        <input
                          class="tp-cart-input"
                          type="text"
                          [value]="item.orderQuantity"
                        />
                        <span
                          class="tp-cart-plus"
                          (click)="cartService.addCartProduct(item)"
                        >
                          <svg
                            width="10"
                            height="10"
                            viewBox="0 0 10 10"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                          >
                            <path
                              d="M5 1V9"
                              stroke="currentColor"
                              stroke-width="1.5"
                              stroke-linecap="round"
                              stroke-linejoin="round"
                            ></path>
                            <path
                              d="M1 5H9"
                              stroke="currentColor"
                              stroke-width="1.5"
                              stroke-linecap="round"
                              stroke-linejoin="round"
                            ></path>
                          </svg>
                        </span>
                      </div>
                    </td>
                    <!-- action -->
                    <td class="tp-cart-action">
                      <button
                        class="tp-cart-action-btn"
                        (click)="cartService.removeCartProduct(item)"
                      >
                        <svg
                          width="10"
                          height="10"
                          viewBox="0 0 10 10"
                          fill="none"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <path
                            fill-rule="evenodd"
                            clip-rule="evenodd"
                            d="M9.53033 1.53033C9.82322 1.23744 9.82322 0.762563 9.53033 0.46967C9.23744 0.176777 8.76256 0.176777 8.46967 0.46967L5 3.93934L1.53033 0.46967C1.23744 0.176777 0.762563 0.176777 0.46967 0.46967C0.176777 0.762563 0.176777 1.23744 0.46967 1.53033L3.93934 5L0.46967 8.46967C0.176777 8.76256 0.176777 9.23744 0.46967 9.53033C0.762563 9.82322 1.23744 9.82322 1.53033 9.53033L5 6.06066L8.46967 9.53033C8.76256 9.82322 9.23744 9.82322 9.53033 9.53033C9.82322 9.23744 9.82322 8.76256 9.53033 8.46967L6.06066 5L9.53033 1.53033Z"
                            fill="currentColor"
                          ></path>
                        </svg>
                        <span> Remove</span>
                      </button>
                    </td>
                  </tr>
                }
              </tbody>
          </table>
        </div>
        <div class="tp-cart-bottom mr-30">
          <div class="row align-items-end">
            <div class="col-xl-6 col-md-8">
              <div class="tp-cart-coupon">
                <form (ngSubmit)="handleCouponSubmit()">
                  <div class="tp-cart-coupon-input-box">
                    <label>Coupon Code:</label>
                    <div class="tp-cart-coupon-input d-flex align-items-center">
                      <input
                        type="text"
                        placeholder="Enter Coupon Code"
                        [(ngModel)]="couponCode"
                        name="couponCode"
                      />
                      <button type="submit">Apply</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
            <div class="col-xl-6 col-md-4">
              <div class="tp-cart-update text-md-end">
                <button
                  (click)="cartService.clear_cart()"
                  type="button"
                  class="tp-cart-update-btn"
                >
                  Clear Cart
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-4 col-md-6">
        <div class="tp-cart-checkout-wrapper">
          <div
            class="tp-cart-checkout-top d-flex align-items-center justify-content-between"
          >
            <span class="tp-cart-checkout-top-title">Subtotal</span>
            <span class="tp-cart-checkout-top-price">
              {{ getCurrencySymbol() }}{{
                (cartService.totalPriceQuantity().total + shipCost).toFixed(2)
              }}
            </span>
          </div>
          <div class="tp-cart-checkout-shipping">
            <h4 class="tp-cart-checkout-shipping-title">Shipping</h4>
            <div class="tp-cart-checkout-shipping-option-wrapper">
              <div class="tp-cart-checkout-shipping-option">
                <input id="flat_rate" type="radio" name="shipping" />
                <label (click)="handleShippingCost(20)" for="flat_rate"
                  >Flat rate: <span>{{ getCurrencySymbol() }}20.00</span></label
                >
              </div>
              <div class="tp-cart-checkout-shipping-option">
                <input id="local_pickup" type="radio" name="shipping" />
                <label (click)="handleShippingCost(25)" for="local_pickup"
                  >Local pickup: <span> $25.00</span></label
                >
              </div>
              <div class="tp-cart-checkout-shipping-option">
                <input id="free_shipping" type="radio" name="shipping" />
                <label (click)="handleShippingCost('free')" for="free_shipping"
                  >Free shipping</label
                >
              </div>
            </div>
          </div>
          <div
            class="tp-cart-checkout-total d-flex align-items-center justify-content-between"
          >
            <span>Total</span>
            <span
              >{{ getCurrencySymbol() }}{{
                (cartService.totalPriceQuantity().total + shipCost).toFixed(2)
              }}</span
            >
          </div>
          <div class="tp-cart-checkout-proceed">
            <a routerLink="/shop/checkout" class="tp-cart-checkout-btn w-100"
              >Proceed to Checkout</a
            >
          </div>
        </div>
      </div>
    }
  </div>
</section>

<!-- cart area start -->

<!-- footer start -->
<app-footer-one [primary_style]="true"></app-footer-one>
<!-- footer end -->
