<div class="section team">
    <h2>Meet Our Team</h2>
<div class="slider-container">
    <div class="slider">
        <div class="slide" *ngFor="let member of teamMembers; let i = index" [ngClass]="{'active': i >= currentIndex && i < currentIndex + 3}">
            <img [src]="member.img" [alt]="member.name">
            <h5>{{ member.name }}</h5>
            <p>{{ member.description }}</p>
        </div>
    </div>
    <button (click)="prevSlide()">‹</button>
    <button (click)="nextSlide()">›</button>
</div>
</div>
