<div class="category-wrapper">
  <button class="category-toggle" (click)="handleActive()">
    Browse Categories
    <span [class.rotate]="isActive">▼</span>
  </button>

  <div class="category-dropdown" *ngIf="isActive">
    <ul class="parent-category-list">
      <li *ngFor="let parent of categoryItems">
        <button (click)="handleParentCategory(parent.parent)">
          {{ parent.parent }}
        </button>

        <ul *ngIf="parent.children?.length" class="sub-category-list">
          <li *ngFor="let sub of parent.children">
            <a (click)="handleSubCategory(sub)">
              {{ sub }}
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>
