.services{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
    align-items: flex-start;
    gap: 24px;
    margin: 48px 0px;
}
.service{
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;

    background-color: #121110;
    max-width: 256px;
    border-radius: 24px;
    padding: 24px;
    min-height: 256px;
}
.service img{
    max-width: 100%;

}
p{
    color: #BAB4B0
    ;
    max-height: 128px;
    overflow: hidden;
}