<!-- mobile-sidebar.component.html -->
<div class="mobile-sidebar" [class.opened]="utilsService.openMobileMenus">
  <div class="sidebar-header">
    <div class="logo">
      <a routerLink="/home">
        <img src="https://i.imgur.com/3fLGfPn.png" alt="logo" />
      </a>
    </div>
    <button class="close-btn" (click)="utilsService.handleOpenMobileMenu()">✖</button>
  </div>

  <div class="category-toggle">
    <button (click)="toggleCategoryActive()">All Categories</button>
    <ul *ngIf="isCategoryActive">
      <li *ngFor="let item of filterCategories()" class="category-item">
        <div class="category-header">
          <img *ngIf="item.img" [src]="item.img" alt="icon" />
          <span>{{ item.parent }}</span>
          <button *ngIf="item.children" (click)="handleOpenSubCategory(item.parent)">▶</button>
        </div>
        <ul *ngIf="item.children && openCategory === item.parent" class="sub-category-list">
          <li *ngFor="let child of item.children">
            <a class="cursor-pointer">{{ child }}</a>
          </li>
        </ul>
      </li>
    </ul>
  </div>

  <div class="menu-section">
    <ul *ngFor="let menu of mobile_menu">
      <li *ngIf="menu.sub_menu" class="menu-item">
        <div class="menu-title">
          <span>{{ menu.title }}</span>
          <button (click)="handleOpenSubMenu(menu.title)">▶</button>
        </div>
        <ul *ngIf="isActiveMenu === menu.title" class="submenu">
          <li *ngFor="let subMenu of menu.sub_menus">
            <a [routerLink]="subMenu.link">{{ subMenu.title }}</a>
          </li>
        </ul>
      </li>
      <li *ngIf="!menu.sub_menu">
        <a [routerLink]="menu.link">{{ menu.title }}</a>
      </li>
    </ul>
  </div>

  <div class="footer-links">
    <a href="/contact" class="btn full">Contact Us</a>
  </div>
</div>

<div class="overlay" (click)="utilsService.handleOpenMobileMenu()" [class.opened]="utilsService.openMobileMenus"></div>
