@use 'styles._variables' as *;
.contact-banner {
  background: linear-gradient(135deg, $secondary-color, $neutral-color-darkest);
  padding: 4rem 1rem;
  text-align: center;
  border-radius: 0.625rem; // 10px
  margin: 8rem 0;

  &__content {
    max-width: 800px;
    margin: auto;

    h3 {
      margin-bottom: 1.25rem;
      font-weight: 600;
    }

    p {
      margin-bottom: 2.5rem;
      color: #FEEDED;
    }
  }

  &__button {
    padding: 0.9375rem 1.875rem; // 15px 30px
    border: none;
    border-radius: 0.3125rem; // 5px
    background-color: $neutral-color-darkest;
    color: white;
    font-size: 1.2em;
    text-decoration: none;
    display: inline-block;
    transition: background-color 0.3s;

    &:hover {
      background-color: #4B4846;
    }
  }
}
