<!-- header start -->
<!-- <app-header-two [style_2]="true"></app-header-two> -->
<app-header-one></app-header-one>
<!-- header end -->

<!-- breadcrumb area start -->
<app-breadcrumb-one
  [full_width]="true"
  title="Shop Full Width"
  subtitle="Shop Full Width"
></app-breadcrumb-one>
<!-- breadcrumb area end -->

<!-- shop area start -->
<app-shop-area [full_width]="true"></app-shop-area>
<!-- shop area end -->

<!-- footer start -->
<app-footer-one [primary_style]="true"></app-footer-one>
<!-- footer end -->
