<div class="tp-product-sm-item d-flex align-items-center">
  <div class="tp-product-thumb mr-25 fix">
     <a [routerLink]="['/shop/shop-details', product.id]">
        <img [src]="product.img" alt="product-img" width="140" height="140">
     </a>
  </div>
  <div class="tp-product-sm-content">
     <div class="tp-product-category">
        <a [routerLink]="['/shop/shop-details', product.id]">{{product.category.name}}</a>
     </div>
     <h3 class="tp-product-title">
        <a [routerLink]="['/shop/shop-details', product.id]">
           {{product.title}}
        </a>
     </h3>
     <div class="tp-product-rating d-sm-flex align-items-center">
        <div class="tp-product-rating-icon">
           <span><i class="fa-solid fa-star"></i></span>
           <span><i class="fa-solid fa-star"></i></span>
           <span><i class="fa-solid fa-star"></i></span>
           <span><i class="fa-solid fa-star"></i></span>
           <span><i class="fa-solid fa-star"></i></span>
        </div>
        <div class="tp-product-rating-text">
           <span>({{product.reviews?.length}} Review)</span>
        </div>
     </div>
     <div class="tp-product-price-wrapper">
        <!-- <span class="tp-product-price">{{ getCurrencySymbol() }}{{product.price.toFixed(2)}}</span> -->
        @if (product.discount > 0) {
          <span class="tp-product-price old-price">{{ getCurrencySymbol() }}{{ product.price }}</span>
          <span class="tp-product-price new-price">
            {{ getCurrencySymbol() }}{{ (product.price - (product.price * product.discount / 100)).toFixed(2) }}
          </span>
        } @else {
          <span class="tp-product-price new-price">{{ getCurrencySymbol() }}{{ product.price.toFixed(2) }}</span>
        }
     </div>
  </div>
</div>
