<div class="container">
    <h3>{{ tutorial.title }}</h3>
    <div *ngIf="tutorial.link" class="video-container">
      <iframe 
        width="560" 
        height="315" 
        [src]="tutorial.link | safe" 
        frameborder="0" 
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
        allowfullscreen>
      </iframe>
    </div>
    <div *ngFor="let section of tutorial.sections" class="section">
      <h4>{{ section.title }}</h4>
      <p>{{ section.content }}</p>
      <pre *ngIf="section.code">
        <code><br><br><hr>{{ section.code }}<hr></code>
        <button class="copy-btn" (click)="copyToClipboard(section.code)">Copy</button>
      </pre>
    </div>
  </div>
  <app-tutorial-ads></app-tutorial-ads>