<!-- header start -->
<!-- <app-header-two [style_2]="true"></app-header-two> -->
<div class="container">
  <div class="row">
    <div class="col-12">
      <app-header-one></app-header-one>
    </div>
  </div>
</div>
<!-- header end -->

<!-- breadcrumb area start -->
<app-breadcrumb-one title="Shop Grid" subtitle="Shop Grid"></app-breadcrumb-one>
<!-- breadcrumb area end -->

<!-- shop area start -->
<app-shop-area></app-shop-area>
<!-- shop area end -->

<!-- footer start -->
<app-footer-one [primary_style]="true"></app-footer-one>
<!-- footer end -->
