.hero-banner {
  position: relative;
  background-size: cover;
  background-position: center;
  text-align: center;
  height: 38.2vh;
}

.hero-banner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 38.2vh;
  background: rgba(0, 0, 0, 0.5); /* Adjust the overlay color and opacity */
  z-index: 0;
}

.hero-content {
  position: absolute;
  bottom: 8%;
  left: 8%;
  //box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

.hero-content h1 {
  text-align: left;
}

.hero-content p {
  text-align: left;
  color: aliceblue;
}


.category-container {
   padding: 20px;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  h1, h2 {
  }

  h3 {
  }

  .overview {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 20px;
  }

  section {
    margin-bottom: 40px;

    h2 {
      padding-bottom: 5px;
      margin-bottom: 20px;
    }

    ul {
      list-style: none;
      padding: 0;

      li {
        margin-bottom: 15px;
        padding: 15px;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
      }
    }

    .portfolio-items {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;

      .portfolio-item {
        padding: 15px;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        flex: 1 1 calc(50% - 20px);

        img {
          width: 100%;
          height: auto;
          border-radius: 5px;
          margin-bottom: 10px;
        }

        h3 {
          margin-top: 0;
        }

        blockquote {
          font-style: italic;
        }
      }
    }

    .process {
      ol {
        padding-left: 20px;

        li {
          margin-bottom: 10px;
        }
      }
    }

    .testimonial, .faq-item {
      padding: 15px;
      border-radius: 5px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
      margin-bottom: 20px;

      .question {
        font-weight: bold;
      }

      blockquote {
        font-style: italic;
      }
    }
  }

  .call-to-action {
    text-align: center;
    padding: 20px;
    border-radius: 5px;

    button {
      padding: 10px 20px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      font-size: 16px;
      transition: background-color 0.3s;
      margin-top: 12px;

      &:hover {
        background-color: darken(#F8A242, 10%);
      }
    }
  }
}
