<ul class="main-menu">
  @for (item of menu_data) {
    <li class="menu-item" [ngClass]="{ 'has-dropdown': item.drop_down || item.mega_menu }">
      <a [routerLink]="item.link">{{ item?.title }}</a>

      <!-- Dropdown -->
      @if (item.drop_down) {
        <ul class="dropdown-menu">
          @for (drop of item.dropdown_menus) {
            <li>
              <a [routerLink]="drop.link">{{ drop.title }}</a>
            </li>
          }
        </ul>
      }

      <!-- Mega Menu -->
      @if (item.mega_menu) {
        <div class="mega-menu">
          <div class="mega-menu-row">
            @for (block of item.shop_mega_menus) {
              <div class="mega-menu-col">
                <h4>{{ block.title }}</h4>
                <ul>
                  @for (link of block.list_menus) {
                    <li>
                      <a [routerLink]="link.link">{{ link.title }}</a>
                    </li>
                  }
                </ul>
              </div>
            }
            <div class="mega-menu-image">
              <img src="/assets/img/menu/product/menu-product-img-1.jpg" alt="Phones" />
              <a routerLink="/shop?category=mobile-tablets" class="cta-button">Phones</a>
            </div>
            <div class="mega-menu-image">
              <img src="/assets/img/menu/product/menu-product-img-2.jpg" alt="Headphones" />
              <a routerLink="/shop?category=headphones" class="cta-button">Headphones</a>
            </div>
          </div>
        </div>
      }
    </li>
  }
</ul>
