/* main-header.component.css */
.tp-search-area {
    background-color: #f8f8f8;
    padding: 20px 0;
  }
  
  .tp-search-form {
    text-align: center;
  }
  
  .tp-search-input input {
    width: 70%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-right: 10px;
  }
  
  .tp-search-input button {
    padding: 10px;
    background-color: #5A5C12;
    border: none;
    border-radius: 5px;
    color: #fff;
  }
  
  .tp-search-category a {
    margin: 0 10px;
    cursor: pointer;
    color: #5A5C12;
  }
  
  .tp-search-category a.active {
    font-weight: bold;
  }
  