<div class="tp-product-details-thumb-wrapper tp-tab d-sm-flex">
  <nav>
    <div
      class="nav nav-tabs flex-sm-column"
      id="productDetailsNavThumb"
      role="tablist"
    >
      <button
        *ngFor="let item of product?.imageURLs; let i = index"
        [class.active]="item.img === productService.activeImg"
        (click)="productService.handleImageActive(item.img)"
        type="button"
        class="nav-link"
      >
        <img [src]="item.img" alt="nav-img" style="background-color: #F4F5F7;" />
      </button>
    </div>
  </nav>
  <div class="tab-content m-img" id="productDetailsNavContent">
    <div
      class="tp-product-details-nav-main-thumb"
      style="background-color: #f5f6f8"
    >
      <img [src]="productService.activeImg" alt="prd-image" />
      <div *ngIf="product.videoId" class="tp-product-details-thumb-video">
        <a (click)="utilsService.playVideo('B0WuqoXkJkY')" class="tp-product-details-thumb-video-btn cursor-pointer popup-video">
          <i class="fas fa-play"></i>
        </a>
      </div>
    </div>
  </div>
</div>
